SALESFORCE_CLIENT_ID=
SALESFORCE_CLIENT_SECRET=
SALESFORCE_SECURITY_TOKEN=
SALESFORCE_USERNAME=
SALESFORCE_PASSWORD=
NEXT_PUBLIC_SALESFORCE_API_VERSION=60.0
NEXT_PUBLIC_SALESFORCE_AUTH_API_URL=https://login.salesforce.com
NEXT_PUBLIC_SALESFORCE_RESOURCE_API_URL=